 :root {

--input-color: #99A3BA;
--input-border: #CDD9ED;
--input-background: #fff;
--input-placeholder: #CBD1DC;

--input-border-focus: #275EFE;

--group-color: var(--input-color);
--group-border: var(--input-border);
--group-background: #EEF4FF;

--group-color-focus: #fff;
--group-border-focus: var(--input-border-focus);
--group-background-focus: #678EFE;

}
.period-field::-webkit-outer-spin-button,
.period-field::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Works for Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
.period-field {
  text-align: center;
  display: block;
  width: 12%;
  padding: 8px 16px;
  line-height: 25px;
  font-size: 14px;
  font-weight: 500;
  font-family: inherit;
  -webkit-appearance: none;
  color: var(--input-color);
  border: 1px solid var(--input-border);
  background: var(--input-background);
  transition: border .3s ease;
  &::placeholder {
      color: var(--input-placeholder);
  }
  &:focus {
      outline: none;
      border-color: #e6e015;
  }
}

.form-group {
position: relative;
display: flex;
align-items: baseline;
.period-field {
    position: relative;
    z-index: 1;
    margin-right: 0.5em;
}
& > .minute {
  text-align: center;
  padding: 8px 12px;
  font-size: 14px;
  line-height: 25px;
  color: var(--group-color);
  background: var(--group-background);
  border: 1px solid var(--group-border);
  border-top-left-radius: 9px;
  border-bottom-left-radius: 9px;
  transition: background .3s ease, border .3s ease, color .3s ease;
}
&:focus-within {
    & > span {
        color: #000000();
        background: #e6e015;
        border-color: #e6e015;
    }
}
}

* {
box-sizing: inherit;
&:before,
&:after {
    box-sizing: inherit;
}
}
.stylist-image,.BeforeAfter-image{
    max-height: 100%; max-width: 100%; height: 85px; width: 85px;
    background-size: cover;
    background-repeat:   no-repeat;
    background-position: center center; 
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}
.BeforeAfter-image-edit img , .BeforeAfter-image-delete img{
  object-fit: cover;
  object-position: center;
  max-width: 220px;
  max-height: 145px;
}
.stylist-image-edit img{
  object-fit: cover;
  object-position: center;
  max-width: 96.5px;
  max-height: 123px;
}

#pagination-nav {
  direction: ltr;
  display: flex;
  justify-content: center;
  border-top: 1px solid #eee;
  margin-top: 1em;
  padding-top: .5em;
}

.pagination {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.pagination li {
  margin: 0 1px;
}

.pagination a {
  display: block;
  padding: .5em 1em;
  border: 1px solid #999;
  border-radius: .2em;
  text-decoration: none;
  color: #333;
}

.pagination .current-page {
  background-color: #FFD700;
  color: #333;
}
